/node_modules
/.next
/ui/idl/
/anchor/target/
/server/node_modules
/ui/node_modules
/circuits/build/
/circuits/proof_artifacts/
/circuits/input.json
.env
ZK Files
/circuits/.ptau
/circuits/.r1cs
/circuits/.sym
/circuits/.zkey
